body{

font-family:Arial;
text-align:center;

background:linear-gradient(120deg,#1e3c72,#2a5298);

min-height:200vh;

transition:background 0.5s;

color:white;

}


h1{

margin-top:40px;

}


/* LOGIN */

.login-box{

background:white;

color:black;

padding:40px;

width:350px;

border-radius:20px;

margin:auto;

margin-top:120px;

box-shadow:0 10px 40px rgba(0,0,0,0.3);

}


input,textarea{

width:80%;

padding:12px;

margin:10px;

border-radius:10px;

border:none;

}


button{

padding:12px 25px;

border:none;

background:#00e5ff;

color:black;

border-radius:10px;

cursor:pointer;

margin:10px;

transition:0.3s;

font-weight:bold;

}


button:hover{

transform:scale(1.1);

}


.google-btn{

background:#db4437;
color:white;

}


/* CARDS */

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(150px,1fr));

gap:20px;

width:80%;

margin:auto;

margin-top:40px;

}


.card{

background:white;

color:black;

padding:30px;

border-radius:20px;

cursor:pointer;

transition:0.3s;

font-weight:bold;

}


.card:hover{

transform:scale(1.05);

}


.card.selected{

background:#00e5ff;

transform:scale(1.15);

box-shadow:

0 0 10px cyan,
0 0 30px cyan,
0 0 60px cyan;

}


/* RESULT */

.result-box{

background:white;

color:black;

padding:40px;

margin-top:40px;

border-radius:20px;

width:80%;

margin-left:auto;
margin-right:auto;

}